/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Source Sans Pro', sans-serif; 
*/

body {
  background: #e7eaf6;
  text-align: center;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

a {
  color: #38598b;
  text-decoration: none;
}
