/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Source Sans Pro', sans-serif; 
*/

body {
  text-align: center;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
